@import "../lib/prism/themes/prism.css";
@import "../lib/angular-snippets/dist/themes/bootstrap-buttons/style";

snippets-tabs pre {
  max-height: 1000px;
}

h1, h2, h3, {
  text-shadow: 2px 2px #DDDDDD;
}

h4, h5 {
  text-shadow: 1px 1px #DDDDDD;
}

a > h3 {
  text-shadow: 1px 1px #DDDDDD;;
}
