@import url(https://fonts.googleapis.com/css?family=Source+Sans+Pro);

$icon-font-path: '/lib/bootstrap-sass/assets/fonts/bootstrap/';
$font-family-sans-serif: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
$font-size-base: 15px;
$brand-primary: #3B98EC;


@import "../lib/bootstrap-sass/assets/stylesheets/bootstrap";

@import "./main";
@import "./home";
@import "./documentation";
